<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <canvas id="impressionsChart" style="width: 100%; height: 400px;"></canvas>
    </div>
  </div>
</div>


<script>
document.addEventListener("turbolinks:load", function() {
  var ctx = document.getElementById("impressionsChart").getContext("2d");
  var chartData = <%= @daily_impressions_data.to_json.html_safe %>;

  var labels = Object.keys(chartData);
  var data = Object.values(chartData);

  var impressionsChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: '総視聴回数',
        data: data,
        borderColor: 'blue',
        backgroundColor: 'rgba(0, 0, 255, 0.1)',
        fill: true
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false
    }
  });
});

</script>
