<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="shine-btn">投稿一覧</div>
      <div class="sort-links">
        <%= link_to "最新順", posts_path(sort: :latest), class: params[:sort] != 'favorites' ? 'active' : '' %>
        <%= link_to "いいね順", posts_path(sort: :favorites), class: params[:sort] == 'favorites' ? 'active' : '' %>
      </div>

      <%= render 'public/shared/post_and_user_info', posts: @posts %>
      
    </div>
  </div>
</div>
      
     
      

 