<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <%= form_with model: @post, remote: true do |f| %>
        <%= render partial: 'public/posts/form', locals: { f: f, post: @post } %>
      <% end %>
      <!--<div class="autosave-message"></div> 
    </div>
  </div>
</div>

<!--
<script>
document.addEventListener('turbolinks:load', function() {
  const form = document.querySelector('form');
  const messageContainer = document.querySelector('.autosave-message'); 

  form.addEventListener('input', function() {
    Rails.ajax({
      url: form.action,
      type: 'PATCH',
      data: new FormData(form),
      success: function(response) {
        if (response.success) {
          messageContainer.textContent = response.message;
        }
      },
      error: function(error) {
        console.error(error);
      }
    });
  });
});
</script>
 -->