// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* メインスライド */
.slideshow-container {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.slide img {
  width: inherit;
  height: inherit;
  object-fit: cover; /* 画像を保ちつつ、コンテナに合わせて表示 */
  margin: 0;
  padding: 0;
  border: none;
  border: 2px solid #ccc; /* 枠のスタイルを指定 */
  border-radius: 5px; /* 枠の角を丸くする */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* 影のスタイルを指定 */
}

.slide.fade:first-child {
  opacity: 1;
}

/* 見出し */
.headline {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
    position: relative;
    transition: color 0.3s;
}

.headline::after {
    content: "";
    display: block;
    height: 2px;
    width: 0; /* 初めは幅を0に */
    background-color: #3CB371;
    transform: scaleX(0);
    transition: transform 0.3s, width 0.3s; /* widthもトランジションに追加 */
    position: absolute;
    bottom: -5px; /* 下線の位置を調整 */
    left: 0%; /* 左端から中央に変更 */
    transform-origin: left; /* 変更点: transformの基準点を左端に設定 */
}

.headline:hover {
    color: #3CB371;
}

.headline:hover::after {
    transform: scaleX(1);
    width: 45vw; /* ホバー時に下線の幅を画面幅いっぱいに広げる */
}



/* スライドショーのエフェクト */
.slide.fade {
  transition: transform 1s, opacity 1s ease-in-out;
  opacity: 0.5;
}

.slide.fade.slick-center {
  transform: scale(1);
  opacity: 1;
}


.top-section {
  display: flex;
  align-items: center;
}

.catchphrase-container {
  position: absolute;
  top: 45%; /* 割合値を調整 */
  left: 17%; /* 割合値を調整 */
  color: white;
  transform: translateY(-55%);

}

.slogan {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
  margin-bottom: 10px;
  font-weight: bold;
}


.catchphrase {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}


.round-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.round-button:hover {
  transform: translate(10px, -10px); /* 右上に移動 */
  text-decoration: none;
}

.arrow {
  display: block;
  font-weight: bold;
}


/* 人気記事ランキング */
#popular-container {
  background-color: white;
}

.top-btn {
  transition: background-color 0.3s ease; /* アニメーションの設定 */
}

.-btn:hover {
  background-color: #FFC850; /* ホバー時の背景色 */
}

.slider {
  width: 97%;
  margin: 0 auto;
}

.slider img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s; /* アニメーションの追加 */
}

.thumbnail-wrapper:hover img {
  transform: scale(1.05); /* ホバー時に少し拡大するアニメーション */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); /* ホバー時の影を強化 */
}

.slider h6 a {
  font-size: 15px; /* フォントサイズを調整 */
  font-weight: bold; /* テキストを太字に設定 */
  color: #1E441E; /* リンクの色を指定（背景色に合う色） */
  text-decoration: none; /* 下線を消去 */
  transition: color 0.3s; /* カラーのトランジションを追加 */
}

.slider h6 a:hover {
  color: #2C6627; /* ホバー時のリンクの色を指定 */
}

.slider .slick-slide {
  transform: scale(1);
  transition: all 0.5s;
}

.slider .slick-slide.slick-center {
  transform: scale(1);
}

.slider li {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.slider li p {
  margin: 5px 0;
}

.slider li p.caption {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 16px;
  color: #FF1493;
  font-weight: bold;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: #D1E7B5;
  border: none;
}

.slick-dots .slick-active button {
  background: #BDDF38;
}


.thumbnail-wrapper {
  position: relative;
  overflow: hidden;
}

.thumbnail-container {
  display: flex;
  justify-content: center; /* 水平方向に中央寄せ */
  align-items: center; /* 垂直方向に中央寄せ */
}

.view-count {
  position: absolute;
  bottom: 0px; /* 下部からの位置を調整 */
  right: 13px; /* 右側からの位置を調整 */
  background-color: white;
  color: black;
  width: 60px;
  font-weight: bold;
  text-align: center;
}

.number {
  margin-right: 3px; /* 数字と "Views" の間隔を調整 */
}

.post-item:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); /* ホバー時の影を強化 */
  background-color: #BDDF38;
}

.user-info img {
  width: 40px;
  height: 40px;
  object-fit: unset;
  margin: 0;
  display: inline;
  box-shadow: none;
  transition: none;
}


.post-favorites {
  color: #333;
}

.post-favorites i {
  color: #FF5733;
}

.tag-buttons {
  display: flex;
  gap: 5px;
}

.tag-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #9ECA2D;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  transition: background-color 0.3s, color 0.3s;
}

/* 週間記事ランキング */

.post-item {
  position: relative;
}

.ranking-number {
  position: absolute;
  top: 0px; /* サムネイルの上からの位置 */
  left: 0px; /* サムネイルの左からの位置 */
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  z-index: 2; /* サムネイルの上に表示 */
}

.weekly-view-count {
  position: absolute;
  bottom: 0px; /* 下部からの位置を調整 */
  right: 0px; /* 右側からの位置を調整 */
  background-color: white;
  color: black;
  width: 60px; /* 枠の幅を固定 */
  font-weight: bold;
  text-align: center;
}

.count-style {
  font-size: 1rem;;
  color: black;
  margin: 0;
}

.view-style {
  font-size: 0.75rem;
  color: gray;
  margin: 0;
}

.date {
  font-size: 0.8rem;
}

.weekly-post-title h6 {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.user-nickname {
  font-size: 0.8rem;
}

.post-meta {
  align-items: center; /* 上下中央寄せ */
}

.user-info {
  display: flex; /* 要素を横並びに配置 */
  align-items: center; /* 上下中央寄せ */
}

.user-info p {
  margin: 0; /* デフォルトのマージンをリセット */
}

.count-style {
  color: grey;
  font-size: 0.8rem; /* お好みのフォントサイズを指定 */
}

/* Daily Best */
.daily-container-fluid {
  background-color: white;
}




/* アニメーションのキーフレームを定義 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* 上方向に20px移動 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 移動なし */
  }
}

/* クラスにアニメーションを適用 */
.fadeInUp {
  animation: fadeInUp 0.5s ease-in-out; /* アニメーションのプロパティを指定 */
}

/* サムネイルコンテナ */
.thumbnail-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* サムネイル画像 */
.thumbnail-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s, filter 0.3s;
  display: inline-block;
  vertical-align: middle;
}

/* サムネイルホバー時のエフェクト */
.thumbnail-container:hover img {
  transform: scale(1.05); /* 拡大表示 */
  filter: brightness(0.8); /* 明るさを調整してホバーエフェクトをかける */
}

.read-more-link {
  text-align: center; /* リンクを中央寄せにする */
  margin-top: 10px; /* 上部の余白を追加 */
}


/* ボタン */

.btntextchange {
  position: relative;
  border: 1px solid #555;
  border-radius: 25px;
  min-width: 210px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #BDDF38; /* ボタンの背景色を変更 */
  outline: none;
  transition: all .2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.btntextchange:hover {
  background: #fff; /* ホバー時の背景色を変更 */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* ホバー時の影を強化 */
}

.btntextchange span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s;
  display: block;
  white-space: nowrap;
  color: black;
}

.btntextchange span:nth-child(2) {
  opacity: 0;
}

.btntextchange:hover span:nth-child(1) {
  opacity: 0;
  color: #9ECA2D;
}

.btntextchange:hover span:nth-child(2) {
  opacity: 1;
}

/* ボタンフェードイン */
.trend-btn {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-weight: bold;
}

.trend-btn.fade-in {
  opacity: 1;
}


/* READ MOREボタン */
.read-more-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #BDDF38; /* 背景色を透明に設定 */
  color: #fff; /* テキストの色を調整 */
  border: 2px solid #9ECA2D; /* ボーダーを追加 */
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; /* 色の変化にトランジションを追加 */
  position: relative; /* ボタンの位置を指定 */
  top: 0; /* 初期位置 */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); /* 影の追加 */
}

.read-more-btn:hover {
  background-color: #BDDF38; /* ホバー時の背景色を調整 */
  color: #fff; /* ホバー時のテキストの色を調整 */
  border-color: #9ECA2D; /* ホバー時のボーダーの色を調整 */
  top: -3px; /* ホバー時の上に移動 */
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4); /* ホバー時の影の追加 */
}


/* ランキングリストのスタイル */
.ranking-list {
  list-style: none;
  padding: 0;
}

/* ユーザー情報のスタイル */
.ranking-user {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.ranking-user:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #BDDF38;
}

.user-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 15px;
}

.ranking-user-nickname {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.user-introduction {
  font-size: 14px;
  margin: 5px 0 0;
  color: #777;
  opacity: 0.8;
  transition: opacity 0.3s;
}

/* ユーザーリンクのスタイル */
.user-link {
  text-decoration: none;
  color: #333;
}


/* about */
.site-description {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-top: 20px;
}
