// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-body {
  border: 1px solid #ccc; /* 枠のスタイルを設定 */
  padding: 100px; /* 枠内の余白を設定 */
  position: relative;
}

.post-body p {
  position: absolute;
  top: 0;
  left: 0;
}