// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.list-unstyled li {
  list-style: none;
}

/* ラベル */
.post-card {
  padding: 10px;
  background-color: rgba(189, 223, 56, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 220px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
  transition: color 0.3s;
}

.form-group {
  position: relative;
}

.form-label::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #3CB371;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.form-label:hover {
  color: #3CB371;
}

.form-label:hover::after {
  transform: scaleX(1);
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 投稿body欄　*/
.form-group_body .trix-content {
  background-color: white;
}

.form-group.form-group_body .trix-content:focus {
  outline: none;
  border-color: #87CEEB;
  box-shadow: 0 0 5px #87CEEB;
}

.form-group input:focus {
  outline: none;
  border-color: #87CEEB;
  box-shadow: 0 0 5px #87CEEB;
}


/* 投稿トグルスイッチ */
.toggle_switch {
  display: table;
}

.toggle_switch > input {
  display: none;
}

.toggle_label {
  display: block;
  position: relative;
  width: 3em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: #ccc;
  cursor: pointer;
}

.toggle_switch > input:checked + .toggle_label {
  background-color: #BDDF38;
}

.toggle_label::before {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
  content: "";
}

.toggle_switch > input:checked + .toggle_label::before {
  left: calc(100% - 1.25em);
}

/* ボタン */
.submit-btn, .draft-btn, .update-btn, .unpublish-btn {
  background-color: #BDDF38;
  color: #fff;
  border: none;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.draft-btn, .unpublish-btn {
  background-color: #6c757d;
}

.submit-btn:hover, .draft-btn:hover, .update-btn:hover, .unpublish-btn:hover {
  background-color: #9ECA2D;
}

.submit-btn[disabled], .draft-btn[disabled], .update-btn[disabled], .unpublish-btn[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* プレビューボタンのスタイル */
.preview-btn {
  display: inline-block;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #8CC63F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s, background-color 0.3s;
  position: relative;
}

.preview-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.preview-btn:hover {
  background-color: #8CC63F;
  transform: scale(1.05);
}

.preview-btn:hover::before {
  width: 120%;
  padding-top: 120%;
  opacity: 1;
}

.preview-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 50px;
  color: #999;
  background-color: transparent;
  border: none;
  transition: color 0.3s;
}

.close-button:hover {
  color: #333;
}

/* プレビューメッセージ */
.link-message {
  display: none;
  position: absolute;
  background-color: #ffcc00;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


/* showページ */
/* サムネイル */

.youtube-container-fluid {
  background-color: #BDDF38;
}

.show-thumbnail-container {
  position: relative;
}

.youtube-info {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.show-post-title {
  color: black;
  font-weight: bold;
}

/* 投稿body */
.post-body {
  font-size: 16px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

}

/* コメント欄 */
.comment-section {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* コメントカードリストのスタイル */
.comment-card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* コメントフォーム */
.comment-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-detail__comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#comment-form {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.comment-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-submit:hover {
  background-color: #BDDF38;
}

/* プロフィールカード */
.show-headline {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.show-headline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #00c853, #00796b);
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}

.show-headline:hover::after {
  transform: scaleX(1);
}

/* ダッシュボード */
/* ステータスボタンのスタイリング */
.status-container {
  border: none;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.status-container:hover {
  transform: translateY(-5px);
}

.status-container.published:hover {
  background-color: #BDDF38;
  transition: all 0.3s ease;
}

.status-container.draft:hover {
  background-color: #E0E87C;
  transition: all 0.3s ease;
}

.status-container.unpublished:hover {
  background-color: #FFB8B8;
  transition: all 0.3s ease;
}

.dashboard-title {
  transition: opacity 0.3s;
}

.dashboard-title:hover {
  opacity: 0.7;
}

/* ステータスラベルのスタイリング */
.status-label {
  display: inline-block;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 8px;
  color: white;
  height: 27px;
  background-color: black;
}

/* ステータスアイコンのスタイリング */
.status-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

/* アイコンのスタイル */
.status-container .fa-play-circle {
  font-size: 18px;
  color: #4220C7;
  transition: color 0.3s;
}

.status-container .fa-edit {
  font-size: 18px;
  color: #006400;
  transition: color 0.3s;
}

.status-container .fa-trash {
  font-size: 18px;
  color: #FF5733;
  transition: color 0.3s;
}

/* ホバー時のスタイル */
.status-container .fa-play-circle:hover {
  color: #0000FF;
}

.status-container .fa-edit:hover {
  color: #228B22;
}

.status-container .fa-trash:hover {
  color: #FF0000;
}

/* 作成日または更新日のスタイリング */
.status-container p {
  font-size: 12px;
  color: #777;
}


/* タブ */
.tabs {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav-tabs {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}

.nav-tabs .nav-item {
  margin-right: 10px;
}

.nav-tabs .nav-link {
  font-size: 16px;
  color: #555;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
}

.nav-tabs .nav-link:hover {
  color: #ff6600;
  background-color: rgba(0, 0, 0, 0.1);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.tab-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tab-pane.fade {
  display: none;
}

.tab-pane.fade.show {
  display: block;
}

.new-post-btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: white;
  color: #BDDF38;
  border: 2px solid #BDDF38;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.new-post-btn:hover {
  background-color: #BDDF38;
  color: white;
  text-decoration: none;
}

h6.dashboard-title a {
  color: black;
  text-decoration: none;
}


/* ソート */
.sort-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-links a {
  padding: 10px 20px;
  text-decoration: none;
  color: #BDDF38;
  transition: color 0.3s;
}

.sort-links a.active,
.sort-links a:hover {
  color: #333;
}

.post-thumbnail {
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.post-thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}


/* post_detail　*/
.post-card-detail {
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;
}

.post-card-detail::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #BDDF38;
}

.post-card-detail:hover::after {
  background: linear-gradient(to right, #BDDF38, #FFFF00);
  animation: underline 0.3s linear;
}

/* 下線のアニメーション */
@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.post-detail-thumbnail {
  object-fit: cover;
  margin: 0 auto;
  display: block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.post-detail-thumbnail:hover {
  transform: scale(1.05);
}

.daily-container {
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;
}

.daily-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #BDDF38;
}

.daily-container:hover::after {
  background: linear-gradient(to right, #BDDF38, #FFFF00);
  animation: underline 0.3s linear;
}


/* アナリティクス */

/* タイトルのスタイル */
.chart-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

/* タイトルコンテナのスタイル */
.chart-title-container {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.analytics-total-count small {
  font-size: 14px;
  color: #777;
}



/* アナリティクスポストリストのスタイル */
.analytics-post-list {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* アナリティクスポストアイテムのスタイル */
.analytics-post-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}


/* タイトルのスタイル */
.analytics-post-title a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.analytics-post-title a:hover {
  color: #333;
  opacity: 0.8;
  text-decoration: none;
}

/* 公開日のスタイル */
.analytics-post-created-at {
  font-size: 14px;
  color: #777;
}

/* カウント数のスタイル */
.analytics-impressions-count {
  font-size: 16px;
  color: #28a745;
  font-weight: bold;
}

/* レイアウトの調整 */
.analytics-post-item {
  margin-bottom: 20px;
}

/* youtubeタイトル */
.video-info {
  color: black;
}

/* Twitterアイコンのスタイル */
.twitter {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.twitter a {
  color: #00acee;
}

.twitter a:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

/* 編集アイコンとゴミ箱アイコンのスタイル */
.post-edit-icon i, .post-delete-icon i {
  font-size: 25px;
  color: #555;
  margin: 0 5px;
}

.post-edit-icon i:hover, .post-delete-icon i:hover {
  color: #ff4081;
  transition: color 0.3s ease;
}

.user-link {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.user-link:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.post-title a {
  color: black;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-weight: bold;
}

.post-title a:hover {
  color: black;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.post-card-likes i {
  color: #FF5733;
}

.post-card-views i {
  color: #3498db;
}

.post-card-comments i {
  color: #27ae60;
}

@media (max-width: 768px) {
  .new-post-btn {
    display: none;
  }
  
  .thumbnail-container img {
    width: 345px !important;
  }
  
  .post-card-detail.d-flex {
    display: block !important; 
  }
}