// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-body {
  border: 1px solid #ccc;
  padding: 16px;
  position: relative;
  overflow: hidden;
  max-width: 800px;
  width: 100%; 
  box-sizing: border-box; 
}

.post-body p {
  top: 0;
  left: 0;
}

.list-unstyled li {
  list-style: none;
}

.post-card {
  padding: 10px;
  background-color: rgba(189, 223, 56, 0.5); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 12px;
}