// Place all the styles related to the public/favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.login-required-message {
  display: none; /* 最初は非表示にする */
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  font-size: 6px;
  color: #333;
  text-align: center;
}

.heart-link:hover  .login-required-message {
  display: block; /* ホバー時に表示する */
}

.heart-icon {
  display: inline-block;
  padding: 10px; /* 必要に応じて調整 */
  font-size: 24px; /* ハートアイコンの大きさを設定 */
}

.heart-count {
  font-size: 12px; /* カウントのフォントサイズを設定 */
  color: gray; /* カウントの色を設定 */
  margin-left: 5px; /* 必要に応じて調整 */
}
