// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* editボタンスタイル */
.edit-btn {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #BDDF38;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease-out;
}

.edit-btn:hover {
  background-color: #9ECA2D;
  text-decoration: none;
}

/* アイコンカラム */
.profile-container {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease-out;
}

.profile-container:hover {
  background-color: #e0e0e0;
}

.icon {
  margin-bottom: 10px;
}

.channel-name {
  margin-top: 10px;
}

.edit-container {
  margin-top: 20px;
}

/* introductionカラム */
.profile-info {
  text-align: center;
}

.nickname h5 {
  margin: 0;
  font-size: 20px; /* 大きめのフォントサイズ */
  color: #333;
  text-transform: uppercase; /* テキストを大文字に変換 */
  letter-spacing: 1px; /* 文字間のスペースを調整 */
  font-weight: bold; /* 太字 */
  padding-bottom: 5px; /* 下線の余白 */
}


.introduction p {
  margin-bottom: 20px;
}

.information {
  margin-bottom: 10px;
}

.information p {
  display: inline-block;
  color: #666; /* ラベルのテキストカラー */
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
  color: #999; /* ラベルのテキストカラー */
}

#follow-btn {
  margin-top: 20px;
}

#follower-count:hover {
  cursor: pointer;
}

#following-count:hover {
  cursor: pointer;
}

/* showページ */
.banner-container {
  width: 100%;
  height: 200px;
  position: relative;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: absolute;
}

.banner img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position : 50% 56%;
  margin: 0;
  padding: 0;
  border: none;
}

.pickup-badge {
  position: absolute;
  top: 10px; /* 上側に位置 */
  left: 10px; /* 左側に位置 */
  padding: 6px 12px; /* パディング */
  border-radius: 10px; /* 丸みを持たせる */
  font-size: 14px; /* フォントサイズ */
  color: #fff; /* テキストの色 */
  background: linear-gradient(-45deg, #ff9900, #ff5e00); /* グラデーション背景 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* テキストの影 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* バッジ全体に影を追加 */
  transform: rotate(-3deg); /* バッジをわずかに傾ける */
  transform-origin: center; /* 基準点を中心に設定 */
  z-index: 1; /* 前面に表示 */
  overflow: hidden; /* 要素内のオーバーフローを隠す */
}

.pickup-badge::before {
  content: "";
  position: absolute;
  top: -10px; /* 上方向に配置 */
  left: -10px; /* 左方向に配置 */
  width: 120%; /* オーバーフローさせる */
  height: 120%; /* オーバーフローさせる */
  background: rgba(255, 255, 255, 0.2); /* 光沢のある白い背景 */
  transform: rotate(45deg); /* 背景を回転 */
  z-index: -1; /* 背景よりも後ろに表示 */
}


/* 退会画面 */
.withdraw-account h6 {
  font-size: 18px; 
  margin: 0; 
}

.withdraw-message {
  text-align: center;
  margin-top: 20px; 
}

.withdraw-message p {
  font-size: 16px; 
}

.red-text {
  color: red;
}

.withdraw-point {
  margin-top: 20px; 
  padding-left: 20px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px; 
  list-style-position: inside;
}

.withdraw-checked {
  text-align: center;
  margin-top: 20px; 
}

.withdraw-button {
  text-align: center;
  margin-top: 20px;
}


/* プロファイルカード全体のスタイル */
.profile-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.profile-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  background-color: #BDDF38;
  transform: translateY(-5px);
}

/* 名前とチャンネル名のスタイル */
.profile-card__data {
  margin-bottom: 10px;
}

/* 名前とチャンネル名のラベルのスタイル */
.profile-card__data h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

/* 名前とチャンネル名のテキストのスタイル */
.profile-card__data span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* 紹介文のスタイル */
.profile-card__data--introduction {
  margin-bottom: 20px;
}

/* フォロワーと投稿数のスタイル */
.profile-card__relation-wrapper {
  display: flex;
  justify-content: space-between;
}

/* フォロワーと投稿数のラベルのスタイル */
.profile-card__relation h5 {
  font-size: 14px;
}

/* フォロワーと投稿数の数字のスタイル */
.profile-card__relation span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
