// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* editボタンスタイル */
.edit-btn {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #BDDF38;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease-out;
}

.edit-btn:hover {
  background-color: #9ECA2D;
  text-decoration: none;
}

/* アイコンカラム */
.profile-container {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease-out;
}

.profile-container:hover {
  background-color: #e0e0e0;
}

.icon a {
  font-weight: bold; 
  color: black;
  opacity: 1;
  transition: opacity 0.3s;
}

.icon a:hover {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}

/* チャンネル名のスタイル */
.channel-name a {
  display: inline-block; 
  padding: 8px 16px; 
  border: 1px solid #BDDF38;
  background-color: #BDDF38;
  color: #fff; 
  text-decoration: none; 
  border-radius: 4px; 
  font-weight: bold; 
  transition: background-color 0.3s, color 0.3s; 
}

/* ホバー時のスタイル */
.channel-name a:hover {
  background-color: #9ECA2D;
  color: #fff; 
  text-decoration: none; 
}


/* .post-card-creator-introduction スタイル */
.post-card-creator-introduction {
  font-size: 14px; 
  line-height: 1.5; 
  margin-top: 5px; 
}

.edit-container {
  margin-top: 20px;
}

/* introductionカラム */
.profile-info {
  text-align: center;
}

.nickname h5 {
  margin: 0;
  font-size: 20px; 
  color: #333;
  text-transform: uppercase; 
  letter-spacing: 1px; 
  font-weight: bold; 
  padding-bottom: 5px; 
}


.introduction p {
  margin-bottom: 20px;
}

.information {
  margin-bottom: 10px;
}

.information p {
  display: inline-block;
  color: #666; 
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
  color: #999; 
}

#follow-btn {
  margin-top: 20px;
}

#follower-count:hover {
  cursor: pointer;
}

#following-count:hover {
  cursor: pointer;
}

/* showページ */
.banner-container {
  width: 100%;
  height: 200px;
  position: relative;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: absolute;
}

.banner img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position : 50% 56%;
  margin: 0;
  padding: 0;
  border: none;
}

.pickup-badge {
  position: absolute;
  top: 10px; 
  left: 10px; 
  padding: 6px 12px; 
  border-radius: 10px; 
  font-size: 14px; 
  color: #fff; 
  background: linear-gradient(-45deg, #ff9900, #ff5e00); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transform: rotate(-3deg); 
  transform-origin: center; 
  z-index: 1; 
  overflow: hidden; 
}

.pickup-badge::before {
  content: "";
  position: absolute;
  top: -10px; 
  left: -10px; 
  width: 120%; 
  height: 120%; 
  background: rgba(255, 255, 255, 0.2); 
  transform: rotate(45deg); 
  z-index: -1; 
}


/* 退会画面 */
.withdraw-account h6 {
  font-size: 18px; 
  margin: 0; 
}

.withdraw-message {
  text-align: center;
  margin-top: 20px; 
}

.withdraw-message p {
  font-size: 16px; 
}

.red-text {
  color: red;
}

.withdraw-point {
  margin-top: 20px; 
  padding-left: 20px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px; 
  list-style-position: inside;
}

.withdraw-checked {
  text-align: center;
  margin-top: 20px; 
}

.withdraw-button {
  text-align: center;
  margin-top: 20px;
}


/* プロファイルカード全体のスタイル */
.profile-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.profile-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  background-color: #BDDF38;
  transform: translateY(-5px);
}

/* 名前とチャンネル名のスタイル */
.profile-card__data {
  margin-bottom: 10px;
}

/* 名前とチャンネル名のラベルのスタイル */
.profile-card__data h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

/* 名前とチャンネル名のテキストのスタイル */
.profile-card__data span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* 紹介文のスタイル */
.profile-card__data--introduction {
  margin-bottom: 20px;
}

/* フォロワーと投稿数のスタイル */
.profile-card__relation-wrapper {
  display: flex;
  justify-content: space-between;
}

/* フォロワーと投稿数のラベルのスタイル */
.profile-card__relation h5 {
  font-size: 14px;
}

/* フォロワーと投稿数の数字のスタイル */
.profile-card__relation span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
