<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <div class="about-title-container">
          <p class="about-title glowAnime" id="about-title">
            <span>共感と創造の場、未来を育てる2つの種。</span>
          </p>
        </div>
        <div class="site-tite-container">
          <p class="site-title blurTrigger" id="site-title">2Seeds</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a class="fluid" href="#section1"></a>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <!-- セクション1 -->
      <div class="section" id="section1">
        <p class="section-title">当ウェブサイト『2Seeds』について</p>
        <p class="section-description">
          動画クリエイターが独自の動画コンテンツを記事とともに掲載できるブログサイトです。基本コンセプトは、動画クリエイターが新たな視聴者を引き寄せやすくする一方で、コンテンツをより詳細に伝えるメディアとしての役割を果たすことです。当サイトの主な対象ユーザーは、初めて動画制作を始めた駆け出しのクリエイター、コンテンツに興味を持つ読者、そして一般のユーザーです。
        </p>
      </div>
      
      <!-- セクション2 -->
      <div class="section">
        <p class="section-title">『2Seeds』のコンセプト</p>
        <p class="section-description">
          ブログサイトを通じて、新しい動画コンテンツやクリエイターと出会い、楽しむことができる環境を提供します。このコンセプトを元に、『2Seeds』を動画クリエイターコミュニティの成長を支援する場として確立し、情報発信の新たな場を提供することを目指しています。クリエイターと視聴者のコミュニケーションを促進し、クリエイティブなコンテンツをより多くの人々に届けていくことを願っています。
        </p>
      </div>
      
      <!-- セクション3 -->
      <div class="section">
        <p class="section-title">サイトの目的</p>
        <p class="section-description">
          当サイトの目的は、動画クリエイターコミュニティの成長を支援し、新しい情報発信の場を提供することです。初めて動画制作を始めたクリエイターや動画に興味を持つ読者、一般のユーザーにとって、クリエイティブなコンテンツを楽しむ場となることを目指しています。『2Seeds』を通じて、クリエイターと視聴者が繋がり、新たなコンテンツを共有し、クリエイティブな未来を育てることを願っています。
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  function GlowAnimeControl() {
    $('.glowAnime').each(function () {
      var elemPos = $(this).offset().top - 50;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll >= elemPos - windowHeight) {
        $(this).addClass("glow");
      } else {
        $(this).removeClass("glow");
      }
    });
  }

  function BlurTextAnimeControl() {
    $('.blurTrigger').each(function () {
      var elemPos = $(this).offset().top - 50;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll >= elemPos - windowHeight) {
        $(this).addClass('blur');
      } else {
        $(this).removeClass('blur');
      }
    });
  }

  $(window).scroll(function () {
    GlowAnimeControl();
    BlurTextAnimeControl();
  });

  $(window).on('load', function () {
    var element = $(".glowAnime");
    element.each(function () {
      var text = $(this).text();
      var textbox = "";
      text.split('').forEach(function (t, i) {
        if (t !== " ") {
          if (i < 10) {
            textbox += '<span style="animation-delay: .' + i + 's;">' + t + '</span>';
          } else {
            var n = i / 10;
            textbox += '<span style="animation-delay: ' + n + 's;">' + t + '</span>';
          }
        } else {
          textbox += t;
        }
      });
      $(this).html(textbox);
    });

    GlowAnimeControl();

    // site-titleを非表示にしてから遅延後に表示させる
    $(".blurTrigger").addClass("blur"); // 最初は非表示に
    setTimeout(function () {
      $(".blurTrigger").css("opacity", "1"); // 遅延後に表示
    }, 1000); // 1秒後に表示するように設定
  });
</script>

<script>
 /*
  $(document).ready(function () {
    var sections = $(".section");
    var currentSection = 0;

    function scrollToSection(sectionIndex) {
      $("html, body").animate({
        scrollTop: sections.eq(sectionIndex).offset().top
      }, 1000); // スクロールにかかる時間（ミリ秒）
    }

    function handleScroll(event) {
      var deltaY = event.originalEvent.deltaY;
      if (deltaY > 0 && currentSection < sections.length - 1) {
        // ダウンスクロールで次のセクションへ
        currentSection++;
        scrollToSection(currentSection);
      } else if (deltaY < 0 && currentSection > 0) {
        // アップスクロールで前のセクションへ
        currentSection--;
        scrollToSection(currentSection);
      }
    }

    $(window).on("wheel", handleScroll);
  });
  */
</script>

<script>
$(document).ready(function() {
  // fluid要素がクリックされたときの処理
  $('.fluid').click(function() {
    // クリックされた要素のhref属性からセクションのIDを取得
    var targetSectionId = $(this).attr('href');

    // セクションのIDを使ってスクロール
    $('html, body').animate({
      scrollTop: $(targetSectionId).offset().top
    }, 1000); // スクロールにかかる時間（ミリ秒）

    return false; // リンクのデフォルトの動作を無効にする
  });
});
</script>
