<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p class="site-description">当ウェブサイト『2Seeds』は、動画クリエイターが独自の動画コンテンツを記事とともに掲載できるブログサイトです。<br>
         基本コンセプトは、動画クリエイターが新たな視聴者を引き寄せやすくする一方で、<br>
         コンテンツをより詳細に伝えるメディアとしての役割を果たすことです。<br>
         当サイトの主な対象ユーザーは、初めて動画制作を始めた駆け出しのクリエイター、<br>
         コンテンツに興味を持つ読者、そして一般のユーザーです。<br>
         ブログサイトを通じて、新しい動画コンテンツやクリエイターと出会い、<br>
         楽しむことができる環境を提供します。<br>
         このコンセプトを元に、『2Seeds』を動画クリエイターコミュニティの成長を支援する場として確立し、<br>
         情報発信の新たな場を提供することを目指しています。<br>
         クリエイターと視聴者のコミュニケーションを促進し、<br>
         クリエイティブなコンテンツをより多くの人々に届けていくことを願っています。</p>
    </div>
  </div>
</div>
