<% notifications = unchecked_notifications.where.not(visitor_id: current_user.id) %>
<% # 未確認通知を表示 %>
<% if @unchecked_notifications.any? %>
  <%= render "notification", notifications: @unchecked_notifications %>
<% end %>

<% # 確認済み通知を表示 %>
<% if @checked_notifications.any? %>
  <%= render "notification", notifications: @checked_notifications %>
<% end %>

<% # 「さらに読み込む」ボタン %>
<% if @unchecked_notifications.any? %>
  <button id="load-more-button">さらに読み込む</button>
<% end %>


<% # 通知が一つもない場合の表示 %>
<% if @unchecked_notifications.empty? && @checked_notifications.empty? %>
  <p>通知はありません</p>
<% end %>

<script>
  $(document).ready(function() {
    var offset = <%= @unchecked_notifications.size %>;
    var limit = 5;
    var loadMoreButton = $('#load-more-button');

    function loadMoreNotifications() {
      $.ajax({
        url: '<%= load_more_notifications_notifications_path %>',
        type: 'GET',
        data: { offset: offset },
        success: function(response) {
          $('#notifications-container').append(response);
          offset += limit;

          if (response.trim() === '') {
            loadMoreButton.hide(); // もう通知がない場合はボタンを非表示にする
          }
        }
      });
    }

    loadMoreButton.click(function() {
      loadMoreNotifications();
    });
  });
</script>
