<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="shine-btn">いいね投稿</div>

          <%= render 'public/shared/post_and_user_info', posts: @liked_posts %>

    </div>
  </div>
</div>
